<div class="row gridtitle"><h4>Photos List</h4></div>
<div class="row">
  <div class="col-md-3"><b>Title</b></div>
  <div class='col-md-9'><b>Link</b></div>
</div>
<div class="row" >
<% @photos.each do |p| %>
  <div class="col-md-3 griddata"><%= p.title %></div>
  <div class='col-md-9 griddata'><%= link_to image_tag(p.photo.url(:thumb)),url_for({controller: "photos", action: 'show', id: p}) %></div>
<% end %>
</div>