<div class="container">
  <div class="row col-md-6">
        <div class="row">
    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>
  </div>
    <h1>Upload Photo</h1>
    <%= form_for @photo, url: photos_path, :html => { :multipart => true } do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :photo %>
      <%= f.file_field :photo, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "Upload", class: "btn newbutton btn-lg" %>
    </div>
  </div>
    <% end %>
  </div>
</div>
