<div class="container">
  <div class="row">
    <h1>Photo Detail</h1>
    <div class="col-md-3">
      <strong>Title:</strong>
    </div>
    <div class="col-md-6">
      <%= @photo.title %>
    </div>
    </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Photo:</strong>
    </div>
    <div class="col-md-6">
      <%= image_tag @photo.photo.url(:medium) %>
    </div>
  </div>
</div>