<div id="innerMid">
  <br><br>
{if isset($okMessage) && $okMessage==1 }{#successfulPayment#}<br><br>{$infoMess}<br><br>{if isset($mailMessage)}{$mailMessage}{/if}
{elseif isset($okMessage) && $okMessage==0}{#PaymentFailed#}{$ErrDesc}
{elseif isset($okMessage) && $okMessage==2} {$wrongPaymentInfo}
{/if}
</div>