<!DOCTYPE html>
<html>
<head>
  <title>Mediamanager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>
<!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
<div class="container-full mediaheader">
  <div class="row mediatitle"><h4 class='vcenter'>Media Manager</h4></div>
  <div class="row navlink">
    <%= link_to  'Home', root_url %>
    <% if logged_in? %>
      <%= link_to "My Media", media_path %>
      <%= link_to "Log out", logout_path, method: :delete %>
    <% else %>
      <%= link_to "Sign up now!", signup_path %>
      <%= link_to "Log in", login_path %>
    <% end %>
  </div>
</div>
<%= yield %>

</body>
</html>

