<div class="container">
  <div class="row col-md-6">
    <h1>Signin Form</h1>
    <div class="row">
      <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>
    </div>
    <%= form_for(:session, url: login_path) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.submit "Log in", class: "btn newbutton btn-lg" %>
    </div>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>