.formdata .search {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #ebebeb;
  font-family: "Open Sans", sans-serif;
  height: 35px;
  width: 515px;
  margin-top: 15px;
}

.formdata input[type=submit]{
  width: 160px;
  font-size: 18px;
  min-height: 38px;
  border: 0;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: none;
  border-radius: 30px;
  background: #00aeef;
  color: #fff !important;
}

.error {
  color: red;
  margin-top: 10px;
}