body{
  margin: 0;
}

.header{
  margin: 0 auto;
  background-color: #1989ce;
  height: 40px;
  width: 100%;
  text-align: center;
}

.header span{
  color: #fff;
  font-size: 1.8rem;
}

.homePage{
  cursor: pointer;
color: #fff;
font-size: 1.2rem;
float: right;
margin-right: 30px;
margin-top: 7px;
text-decoration: none;
}

.subtitle{
  color: #5c5c5c;
}

.formdata, .resultdata{
  margin: 50px 50px;
  width: 100%;
}

.formdata input[type=text] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #ebebeb;
  font-family: "Open Sans", sans-serif;
  height: 25px;
  width: 275px;
}

.formdata input[type=submit]{
  width: 320px;
  font-size: 18px;
  min-height: 48px;
  border: 0;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: none;
  border-radius: 30px;
  background: #1989ce;
  color: #fff !important;
}



.formElement{
  display: inline;
}

.formElement:after { 
  content:"\A"; 
  white-space:pre; 
  line-height: 50px;
}

.errors{
  line-height: 30px;
  color: #db1515;
}