<div class="container">
  <div class="row col-md-6">
    <h1>Sign up</h1>
    <%= render 'shared/error_messages' %>
    <%= form_for(@user) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation%>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "Sign up", class: "btn newbutton btn-lg"  %>
    </div>
    <% end %>
    <p>Registered user? <%= link_to "Log in", login_path %></p>
  </div>
</div>