<?php echo $this->doctype();
 $this->headLink()->appendStylesheet('/css/form.css');?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Sort CSV File</title>
  <?php echo $this->headLink()->appendStylesheet('/css/global.css') ?>
</head>
<body>
<div id="header" class="header">
    <span>Sort CSV File</span>
    <a href="/" class="homePage">Home</a>
</div>
 
<?php echo $this->layout()->content ?>
 
</body>
</html>