.logout{
  float: right;
  margin-top: -40px;
}

.mediaheader{
  background-color: #008cba;
  color: #fff;
  height: 60px;
}

.mediatitle{
  text-align: center;
}

.vcenter{
  display: inline-block;
  vertical-align: middle;
}

._sidebar {
  background: #36383b;
  padding: 0;
}

.navlink a{
  color: #fff;
  margin-left: 30px;
}

.gridtitle{
  background-color: #eee;
}

.newbutton{
  background: #1fb390;
  border-radius: 5px !important;
  display: inline-block;
  color: white;
  margin-left: 20px;
}

.griddata{
    margin-bottom: 20px;
}

.searchform{
  margin: 10px 0 10px 0;
}

.social_button{
  margin-top: 20px;
}