body{
  background-color: #EEE;
  font-family: Verdana, Geneva, sans-serif;
}
.tweet-box {
  display: block;
  font-size: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  width:50%;
  background-color: #FFF;
  border:#CCC solid thin;
  padding:5px;
}

.Grid-cell {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 13px;
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 100%;
}
.gray{
  color:#999;
}
.small{
  font-size:12px;
}
.footer{
  margin-top:10px;
}