<%= simple_form_for comment do |f|  %>
	<%= f.input :comment, input_html: {value: comment.comment}%>
	<%= f.input :commentable_id, input_html: {value: comment.commentable_id}, as: :hidden %>
	<%= f.input :commentable_type, input_html: {value: comment.commentable_type}, as: :hidden %>
	<%= f.submit "Add Comment" %>
<% end %>
