<div class="container">
  <div class="col-md-8">
    <div class='row searchform'>
      <%= form_tag media_path, :method => 'get' do %>
        <div class="input-group">
          <%= text_field_tag 'search', params['search'], class: 'form-control', placeholder: 'Search for...' %>
          <span class="input-group-btn">
             <%= submit_tag 'search', name:nil, class: 'btn btn-default' %>
          </span>
        </div>
      <% end %>
    </div>
    <div class="row">
      <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>
    </div>
    <div class="row gridtitle"><h4>Media List</h4></div>
    <div class="row">
      <div class="col-md-8"><b>Title</b></div>
      <div class='col-md-2'></div>
      <div class='col-md-2'></div>
    </div>
    <% @media.each do |m| %>
    <div class="row" >
      <div class='col-md-8 griddata'><%= link_to m.title, medium_path(m) %></div>
      <div class='col-md-2 griddata'><%= link_to 'Edit',edit_medium_path(m) %></div>
      <div class='col-md-2 griddata'>
        <b><%= link_to 'Delete', medium_path(m),method: :delete,data: { confirm: 'Are you sure?' }%></b>
      </div>
    </div>
    <% end %>
    <%= render :file => 'photos/index' %>
  </div>
  <div class="col-md-4">
    <div class="row"><h4 style="margin-left: 20px;">Add New Data</h4></div>
    <%= link_to 'New Media', new_medium_path, class: 'btn newbutton btn-lg' %>
    <%= link_to 'New Photo', new_photo_path, class: 'btn newbutton btn-lg' %>
  </div>
</div>
