<div class="container">
  <div class="row">
    <h1>Media Detail</h1>
    <div class="col-md-3">
      <strong>Title:</strong>
    </div>
    <div class="col-md-6">
      <%= @medium.title %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Link:</strong>
    </div>
    <div class="col-md-6">
      <%= link_to @medium.content, @medium.content, :target => "_blank" %>
    </div>
  </div>
  <div class="row">
      <%= render  'shared/social_buttons' %>
  </div>
</div>