<? $this->headLink()->appendStylesheet('/css/form.css');?>
<div class="resultdata">
<h4>Thank you <?= $this->email ?>. The result of the sorting is:</h5>
<?php
  if($this->result['errors']!=null){}
    echo '<p class="errors">'.$this->result['errors'].'</p>';
  if($sortArray = $this->result['data']){
    echo "<ul>";
     foreach ($sortArray as $data)  
          echo "<li>".$data['0'].', '.$data['1'].', '.$data['2'].'</li>';
     echo "</ul>";
  }
  
?>
</div>
   
