<!-- You can find the front end view here: http://www.tribelearn.com/
Votes stored in MongoDB database. Tribe.php contains all connection functions -->
<script type="text/javascript" src="<?php echo Wrapper::jsPath('/libs/jquery.cookie.js')?>"></script>
<div id="pg_layers" class="pg_layer" style="display:none">
	<div class='_cntcenter'><img id='wait' src='/assets/images/ajax-loader.gif'></div>
</div>

<div id="tribe_olay"></div>
	<div class="tribe_content">
		<div class="tribe_close">
			<p class="close-arrow">X</p>
		</div>
		<form id="tribe_signupform" <?=$class;?>  method="post" onsubmit="formhandler(this,'Vote');return false;" style="display:none">
			<input type="hidden" name="uid" value="" />
			<input type="hidden" name="smartform" value="1" />
			<input type="hidden" name="country" value="<?=$country_code;?>" />
			<input type="hidden" name="state" value="<?=$state;?>" />
			<input type="hidden" name="GeoTrackRe_127" value="<?=$region;?>" />
			<input type="hidden" id="afft_<?=$identifier;?>" name="afft_" value="" />
			<input type="hidden" id="sess_<?=$identifier;?>" name="sess_" value="" />
			<input type="hidden" id="ref_<?=$identifier;?>" name="ref_" value="" />
			<input type="hidden" id="own_<?=$identifier;?>" name="own_" value="" />
			<input type="hidden" name="next" value="<?=$next?>"/>
			<input type="hidden" id="tribe_tag" name="" value=""/>
			<input type="hidden" name="tribe_id" value=""/>
			<input type="hidden" name="tribe_name" value=""/>
			<input type="hidden" name="tribe_votes" value=""/>
			<input type="hidden" name="contact_id" id="contact_id<?=$identifier;?>" value="" />
			<?php if (!empty($sourceId) || (string)$sourceId === '0'): ?>
			    <input type="hidden" name="<?=$source_field_name?>" value="<?=$sourceId?>" />
			<?php endif ?>
			<?php if (count($customFields) > 0):?>
			    <?php foreach($customFields as $key=>$value): ?>
			        <input type="hidden" name="<?=$key;?>" value="<?=$value;?>" />
			    <?php endforeach; ?>
			<?php endif ?>
			<?=$before;?>
				<div class="popup-container">
					<p class="popup-logo"><img src="/assets/images/logo-blue.png" class="compose center" alt="TribeLearn"></p>
					<h2>Vote now to <span class="txtorange">unlock your tribe</span></h2>
					<p>Enter your name and email address below so that we can notify you when your tribe get enough votes to be launched.</p>
					<small>(We respect your privacy and we don't spam! You can unsubscribe anytime.)</small>
					<ol>
						<li><input id="<?=$prefix;?>-firstname" name="firstname" class="signup-form" placeholder="Enter your first name" type="text" value=""></li>
						<li><input id="<?=$prefix;?>-email" name="email" class="signup-form" placeholder="Enter your email address" value="" type="email"></li>
			            <?php if (empty($RAW)): ?>
			            <li class="_actions"><button type="submit" name="submit" value="1" id="tribe_submit" class="popup-submit"><?=$button;?></button></li>
			            <?php else: ?>
			            <?=$RAW;?>
			            <?php endif ?>
					</ol>
					<small>We ♥ your <a href='http://www.mindvalley.com/privacy-policy/' target='_blank'>privacy</a>.</small>
					<small>Don't see the tribe of your interest?<br />
						Send us your suggestion at <a href="mailto:create@tribelearn.com">create@tribelearn.com</a></small>
				</div>
			      
			<?=$after;?>
		</form>


		<div id="progress_bar" class="progress-container" style="display:none" >
			<div class="progress-section">
				<p class="popup-logo"><img src="/assets/images/logo-blue.png" class="compose center" alt="TribeLearn"></p>
				<h2>You're Awesome! <span class="txtorange">Thanks for voting</span></h2>
				<div class="progress-bar-container">
					<div class="progress-bar--indicator">
						<div class="progress-bar--votenumber"></div>
					</div>
					<div class="progress-bar--total">100 votes</div>
				</div>
				<p>Your <strong class="txtblue">UX Developers</strong> tribe needs <strong class="txtlightblue">15 more votes to unlock</strong></p>
			</div>
			<div class="sharing-section">
				<h2>Unlock Your Tribe <span class="txtorange"> Faster</span></h2>
				<small>Simply share your unique link below with your friends in order to unlock the tribe FASTER.</small>
				<div class="sharing-url">
					<button id="copy-button" data-clipboard-target="clipboard_text"></button>
					<input type="hidden" id="clipboard_text" value="" />
					<small class="sharing-instructions">Click on the link above to copy to clipboard</small>
				</div>
				<div class="sharing-socialmedia">
					<ul>
						<li>
							<div id="facebook-vote"></div>
							<script>
								$(function(){
									$('#facebook-vote').sharrre({
										share: {
										    facebook: true
										},
										  url : 'http://www.tribelearn.com',
										  template: '<a class="box_share" href="#"><div class="share facebook_share"><span class="_facebook"></span><p class="socialtxt">Share on Facebook</p></div></a>',
										  enableHover: false,
										  enableTracking: true,
										  click: function(api, options){
										    api.simulateClick();
										    api.openPopup('facebook');
										  }
									});
								});
							</script>
						</li>
						<li>
							<div id="twitter-vote"></div>
							<script>
								$(function(){
									$('#twitter-vote').sharrre({
									  share: {
									    twitter: true,
									  },
									url : 'http://www.tribelearn.com',
									  template: '<a class="box_share" href="#"><div class="share tweet_share"><span class="_tweet"></span><p class="socialtxt">Tweet this</p></div></a>',
									  enableHover: false,
									  enableTracking: true,
									  buttons: { twitter: {via: ''}},
									  click: function(api, options){
									    api.simulateClick();
									    api.openPopup('twitter');
									  }
									});
								});
							</script>
						</li>
						<li>
							<div id="linkedin-vote"></div>
							<script>
								$(function(){
									$('#linkedin-vote').sharrre({
									  share: {
									    linkedin: true,
									  },
									url : 'http://www.tribelearn.com',
									  template: '<a class="box_share" href="#"><div class="share linkedin_share"><span class="_linkedin"></span><p class="socialtxt">Connect on LinkedIn</p></div></a>',
									  enableHover: false,
									  enableTracking: true,
									  buttons: { linkedin: {via: ''}},
									  click: function(api, options){
									    api.simulateClick();
									    api.openPopup('linkedin');
									  }
									});
								});
							</script>
						</li>
						<li>
							<div class="_email"><span class="st_email_vcount" displayText="Email"></span></div>
							<script type="text/javascript">var switchTo5x=true;</script>
							<script type="text/javascript" src="//w.sharethis.com/button/buttons.js"></script>
							<script type="text/javascript">stLight.options({publisher: "f15b531d-4d18-4516-8a91-57e9ec8dc180", doNotHash: false, doNotCopy: false, hashAddressBar: false, onhover: false, servicePopup:true});</script>
							<small>Share via Email</small>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<form id="tribe_joinform" <?=$class;?>  method="post" onsubmit="formhandler(this,'Join');return false;" style="display:none">
			<input type="hidden" name="uid" value="" />
			<input type="hidden" name="smartform" value="1" />
			<input type="hidden" name="country" value="<?=$country_code;?>" />
			<input type="hidden" name="state" value="<?=$state;?>" />
			<input type="hidden" name="GeoTrackRe_127" value="<?=$region;?>" />
			<input type="hidden" id="afft_<?=$identifier;?>" name="afft_" value="" />
			<input type="hidden" id="sess_<?=$identifier;?>" name="sess_" value="" />
			<input type="hidden" id="ref_<?=$identifier;?>" name="ref_" value="" />
			<input type="hidden" id="own_<?=$identifier;?>" name="own_" value="" />
			<input type="hidden" name="next" value="<?=$next?>"/>
			<input type="hidden" id="tribe_tag" name="" value=""/>
			<input type="hidden" name="tribe_id" value=""/>
			<input type="hidden" name="tribe_name" value=""/>
			<input type="hidden" name="tribe_votes" value=""/>
			<input type="hidden" name="contact_id" id="contact_id<?=$identifier;?>" value="" />
			<?php if (!empty($sourceId) || (string)$sourceId === '0'): ?>
			    <input type="hidden" name="<?=$source_field_name?>" value="<?=$sourceId?>" />
			<?php endif ?>
			<?php if (count($customFields) > 0):?>
			    <?php foreach($customFields as $key=>$value): ?>
			        <input type="hidden" name="<?=$key;?>" value="<?=$value;?>" />
			    <?php endforeach; ?>
			<?php endif ?>
			<?=$before;?>
	 			<div class="popup-container">
	 				<p class="popup-logo"><img src="/assets/images/logo-blue.png" class="compose center" alt="TribeLearn"></p>
	 				<h2>Your tribe <span class="txtorange">has been unlocked!</span></h2>
	 				<p>Enter your name and email address below so that we can notify you when your tribe is launching.</p>
	 				<small>(We respect your privacy and we don't spam! You can unsubscribe anytime.)</small>
	 				<ol>
	 					<li><input id="<?=$prefix;?>-firstname" name="firstname" class="signup-form" placeholder="Enter your first name" type="text" value=""></li>
	 					<li><input id="<?=$prefix;?>-email" name="email" class="signup-form" placeholder="Enter your email address" value="" type="email"></li>
	 		            <?php if (empty($RAW)): ?>
	 		              	<li class="_actions"><button type="submit" name="submit" value="1" id="tribe_submit" class="popup-submit">Notify Me</button></li>
	 		            <?php else: ?>
	 		              	<?=$RAW;?>
	 		            <?php endif ?>
	 				</ol>
	 				<small>We ♥ your <a href='http://www.mindvalley.com/privacy-policy/' target='_blank'>privacy</a>.</small>
	 				<small>Don't see the tribe of your interest?<br />
	 					Send us your suggestion at <a href="mailto:create@tribelearn.com">create@tribelearn.com</a></small>
	 			</div>
			      
			<?=$after;?>
		</form>

		<div id="join_share" class="progress-container" style="display:none" >
			<div class="progress-section">
				<p class="popup-logo"><img src="/assets/images/logo-blue.png" class="compose center" alt="TribeLearn"></p>
				<h2>Awesome! <span class="txtorange">Thanks for joining</span></h2>
				<p>We&rsquo;ll be contacting you via email when we open up your tribe.</p>
			</div>
			<div class="sharing-section">
				<h2>Think your peers can <span class="txtorange">benefit from this?</span></h2>
				<small>Simply share your unique link below with your friends so they can join you in your tribe too</small>
				<div class="sharing-url">
					<button id="join-button" data-clipboard-target="join_clipboard_text"></button>
					<input type="hidden" id="join_clipboard_text" />
					<small class="sharing-instructions">Click on the link above to copy to clipboard</small>
				</div>
				<div class="sharing-socialmedia">
					<ul>
						<li>
							<div id="facebook-join"></div>
							<script>
								$(function(){
									$('#facebook-join').sharrre({
										share: {
										    facebook: true
										},
										url : 'http://www.tribelearn.com',
										  template: '<a class="box_share" href="#"><div class="share facebook_share"><span class="_facebook"></span><p class="socialtxt">Share on Facebook</p></div></a>',
										  enableHover: false,
										  enableTracking: true,
										  click: function(api, options){
										    api.simulateClick();
										    api.openPopup('facebook');
										  }
									});
								});
							</script>
						</li>
						<li>
							<div id="twitter-join"></div>
							<script>
								$(function(){
									$('#twitter-join').sharrre({
									  share: {
									    twitter: true,
									  },
									url : 'http://www.tribelearn.com',
									  template: '<a class="box_share" href="#"><div class="share tweet_share"><span class="_tweet"></span><p class="socialtxt">Tweet this</p></div></a>',
									  enableHover: false,
									  enableTracking: true,
									  buttons: { twitter: {via: ''}},
									  click: function(api, options){
									    api.simulateClick();
									    api.openPopup('twitter');
									  }
									});
								});
							</script>
						</li>
						<li>
							<div id="linkedin-join"></div>
							<script>
								$(function(){
									$('#linkedin-join').sharrre({
									  share: {
									    linkedin: true,
									  },
									url : 'http://www.tribelearn.com',
									  template: '<a class="box_share" href="#"><div class="share linkedin_share"><span class="_linkedin"></span><p class="socialtxt">Connect on LinkedIn</p></div></a>',
									  enableHover: false,
									  enableTracking: true,
									  buttons: { linkedin: {via: ''}},
									  click: function(api, options){
									    api.simulateClick();
									    api.openPopup('linkedin');
									  }
									});
								});
							</script>
						</li>
						<li>
							<div class="_email"><span class="st_email_vcount" displayText="Email"></span></div>
							<script type="text/javascript">var switchTo5x=true;</script>
							<script type="text/javascript" src="//w.sharethis.com/button/buttons.js"></script>
							<script type="text/javascript">stLight.options({publisher: "f15b531d-4d18-4516-8a91-57e9ec8dc180", doNotHash: false, doNotCopy: false, hashAddressBar: false, onhover: false, servicePopup:true});</script>
							<small>Share via Email</small>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	

<div id="healthfitness" class="categories">

<a name="healthfitness"></a>

<div class="categories-title">
	<img src="/assets/images/cat-1.png" class="categories-icon" alt="">
	<h4>Health &amp; Fitness</h4>
</div>

<input type="hidden" class="category_uid" value="p2c1539f1383">
<input type="hidden" class="subcategory_tag" value="HealthFitn_701">

<div class="_row _tri">
    <div class="_col _left">
  		<ul>
  			<li>
  				<div class="tribe-label">Chiropractors</div>
  				<div id="health_fitness_cta_votes_1" class="tribe-count">0</div>
  				<div class="tribe-cta">
  					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Chiropractors" id="health_fitness_cta_1">Vote</a>
  					<span class="tribe-status already_joined_voted" id="health_fitness_cta_1_span"></span>
  				</div>
  				<div class="tribe-indicator">
  					<span class="tribe-votes"></span>
  				</div>
  			</li>
  			<li>
  				<div class="tribe-label">Fitness Trainers</div>
  				<div id="health_fitness_cta_votes_2" class="tribe-count">0</div>
  				<div class="tribe-cta">
  					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Fitness_Trainers" id="health_fitness_cta_2">Vote</a>
  					<span class="tribe-status already_joined_voted" id="health_fitness_cta_2_span"></span>
  				</div>
  				<div class="tribe-indicator">
  					<span class="tribe-votes"></span>
  				</div>
  			</li>
  			<li>
  				<div class="tribe-label">Yoga trainers</div>
  				<div id="health_fitness_cta_votes_3" class="tribe-count">0</div>
  				<div class="tribe-cta">
  					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Yoga_Trainers" id="health_fitness_cta_3">Vote</a>
  					<span class="tribe-status already_joined_voted" id="health_fitness_cta_3_span"></span>
  				</div>
  				<div class="tribe-indicator">
  					<span class="tribe-votes"></span>
  				</div>
  			</li>
  			<li>
  				<div class="tribe-label">Meditation trainers</div>
  				<div id="health_fitness_cta_votes_4" class="tribe-count">0</div>
  				<div class="tribe-cta">
  					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Meditation_Trainers" id="health_fitness_cta_4">Vote</a>
  					<span class="tribe-status already_joined_voted" id="health_fitness_cta_4_span">Voted</span>
  				</div>
  				<div class="tribe-indicator">
  					<span class="tribe-votes"></span>
  				</div>
  			</li>
  			<li>
  				<div class="tribe-label">Nutrition experts</div>
  				<div id="health_fitness_cta_votes_5" class="tribe-count">0</div>
  				<div class="tribe-cta">
  					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Nutrition_Expertss" id="health_fitness_cta_5">Vote</a>
  					<span class="tribe-status already_joined_voted" id="health_fitness_cta_5_span">Voted</span>
  				</div>
  				<div class="tribe-indicator">
  					<span class="tribe-votes"></span>
  				</div>
  			</li>
  			<li>
  				<div class="tribe-label">Sport Coaches</div>
  				<div id="health_fitness_cta_votes_6" class="tribe-count">0</div>
  				<div class="tribe-cta">
  					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Sport_Coache" id="health_fitness_cta_6">Vote</a>
  					<span class="tribe-status already_joined_voted" id="health_fitness_cta_6_span">Voted</span>
  				</div>
  				<div class="tribe-indicator">
  					<span class="tribe-votes"></span>
  				</div>
  			</li>
  		</ul>
    	</div>

  	<div class="_col _middle">
  		<ul>
  			<li>
  				<div class="tribe-label">Alternative Healers</div>
  				<div id="health_fitness_cta_votes_7" class="tribe-count">0</div>
  				<div class="tribe-cta">
  					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Alternative_Healerse" id="health_fitness_cta_7">Vote</a>
  					<span class="tribe-status already_joined_voted" id="health_fitness_cta_7_span">Voted</span>
  				</div>
  				<div class="tribe-indicator">
  					<span class="tribe-votes"></span>
  				</div>
  			</li>
  			<li>
  				<div class="tribe-label">Energy Healers</div>
  				<div id="health_fitness_cta_votes_8" class="tribe-count">0</div>
  				<div class="tribe-cta">
  					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Energy_Healers" id="health_fitness_cta_8">Vote</a>
  					<span class="tribe-status already_joined_voted" id="health_fitness_cta_8_span">Voted</span>
  				</div>
  				<div class="tribe-indicator">
  					<span class="tribe-votes"></span>
  				</div>
  			</li>
  			<li>
  				<div class="tribe-label">Pilates Trainers</div>
  				<div id="health_fitness_cta_votes_9" class="tribe-count">0</div>
  				<div class="tribe-cta">
  					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Pilates_Trainers" id="health_fitness_cta_9">Vote</a>
  					<span class="tribe-status already_joined_voted" id="health_fitness_cta_9_span">Voted</span>

  				</div>
  				<div class="tribe-indicator">
  					<span class="tribe-votes"></span>
  				</div>
  			</li>
  			<li>
  				<div class="tribe-label">Dance Instructors</div>
  				<div id="health_fitness_cta_votes_10" class="tribe-count">0</div>
  				<div class="tribe-cta">
  					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Dance_Intructors" id="health_fitness_cta_10">Vote</a>
  					<span class="tribe-status already_joined_voted" id="health_fitness_cta_10_span">Voted</span>
  				</div>
  				<div class="tribe-indicator">
  					<span class="tribe-votes"></span>
  				</div>
  			</li>
  			<li>
  				<div class="tribe-label">Weight Loss Experts</div>
  				<div id="health_fitness_cta_votes_11" class="tribe-count">0</div>
  				<div class="tribe-cta">
  					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Weight_Loss_Experts" id="health_fitness_cta_11">Vote</a>
  					<span class="tribe-status already_joined_voted" id="health_fitness_cta_11_span">Voted</span>
  				</div>
  				<div class="tribe-indicator">
  					<span class="tribe-votes"></span>
  				</div>
  			</li>
  			<li>
  				<div class="tribe-label">Reiki Masters</div>
  				<div id="health_fitness_cta_votes_12" class="tribe-count">0</div>
  				<div class="tribe-cta">
  					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_ Reiki_Masters" id="health_fitness_cta_12">Vote</a>
  					<span class="tribe-status already_joined_voted" id="health_fitness_cta_12_span">Voted</span>
  				</div>
  				<div class="tribe-indicator">
  					<span class="tribe-votes"></span>
  				</div>
  			</li>
  		</ul>
  	</div>

  	<div class="_col _right">
  		<ul>
  			<li>
  				<div class="tribe-label">Hypnotists</div>
  				<div id="health_fitness_cta_votes_13" class="tribe-count">0</div>
  				<div class="tribe-cta">
  					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Hypnotists" id="health_fitness_cta_13">Vote</a>
  					<span class="tribe-status already_joined_voted" id="health_fitness_cta_13_span">Voted</span>
  				</div>
  				<div class="tribe-indicator">
  					<span class="tribe-votes"></span>
  				</div>
  			</li>
  			<li>
  				<div class="tribe-label">Physiotherapists</div>
  				<div id="health_fitness_cta_votes_14" class="tribe-count">0</div>
  				<div class="tribe-cta">
  					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Physiotherapists" id="health_fitness_cta_14">Vote</a>
  					<span class="tribe-status already_joined_voted" id="health_fitness_cta_14_span">Voted</span>
  				</div>
  				<div class="tribe-indicator">
  					<span class="tribe-votes"></span>
  				</div>
  			</li>
  			<li>
  				<div class="tribe-label">Acupuncture Healers</div>
  				<div id="health_fitness_cta_votes_15" class="tribe-count">0</div>
  				<div class="tribe-cta">
  					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Accupuncture_Healers" id="health_fitness_cta_15">Vote</a>
  					<span class="tribe-status already_joined_voted" id="health_fitness_cta_15_span">Voted</span>
  				</div>
  				<div class="tribe-indicator">
  					<span class="tribe-votes"></span>
  				</div>
  			</li>
  			<li>
  				<div class="tribe-label">Cardio Trainers</div>
  				<div id="health_fitness_cta_votes_16" class="tribe-count">0</div>
  				<div class="tribe-cta">
  					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Cardio_Trainers" id="health_fitness_cta_16">Vote</a>
  					<span class="tribe-status already_joined_voted" id="health_fitness_cta_16_span">Voted</span>
  				</div>
  				<div class="tribe-indicator">
  					<span class="tribe-votes"></span>
  				</div>
  			</li>
  			<li>
  				<div class="tribe-label">Psychologists</div>
  				<div id="health_fitness_cta_votes_17" class="tribe-count">0</div>
  				<div class="tribe-cta">
  					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Psychologists" id="health_fitness_cta_17">Vote</a>
  					<span class="tribe-status already_joined_voted" id="health_fitness_cta_17_span">Voted</span>
  				</div>
  				<div class="tribe-indicator">
  					<span class="tribe-votes"></span>
  				</div>
  			</li>
  			<li>
  				<div class="tribe-label">Martial Arts Instructors</div>
  				<div id="health_fitness_cta_votes_18" class="tribe-count">0</div>
  				<div class="tribe-cta">
  					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Martial_Arts_Instructors" id="health_fitness_cta_18">Vote</a>
  					<span class="tribe-status already_joined_voted" id="health_fitness_cta_18_span">Voted</span>
  				</div>
  				<div class="tribe-indicator">
  					<span class="tribe-votes"></span>
  				</div>
  			</li>
  		</ul>
    </div>
</div>
</div>

<div id="technology" class="categories">

<a name="technology"></a>

<div class="categories-title">
	<img src="/assets/images/cat-2.png" class="categories-icon" alt="">
	<h4>Technology</h4>
</div>

<input type="hidden" class="category_uid" value="p2c1539f1384">
<input type="hidden" class="subcategory_tag" value="Technology_711">

<div class="_row _tri">
  	<div class="_col _left">
		<ul>
			<li>
				<div class="tribe-label">Chief Technology Officers</div>
				<div id="technology_cta_votes_1" class="tribe-count">0</div>
				<div class="tribe-cta">
					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Chief_Technology_Officers" id="technology_cta_1">Vote</a>
					<span class="tribe-status already_joined_voted" id="technology_cta_1_span">Voted</span>
				</div>
				<div class="tribe-indicator">
					<span class="tribe-votes"></span>
				</div>
			</li>
			<li>
				<div class="tribe-label">iPhone App Developers</div>
				<div id="technology_cta_votes_2" class="tribe-count">0</div>
				<div class="tribe-cta">
					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Iphone_App_Developers" id="technology_cta_2">Vote</a>
					<span class="tribe-status already_joined_voted" id="technology_cta_2_span">Voted</span>
				</div>
				<div class="tribe-indicator">
					<span class="tribe-votes"></span>
				</div>
			</li>
			<li>
				<div class="tribe-label">Agile Developers</div>
				<div id="technology_cta_votes_3" class="tribe-count">0</div>
				<div class="tribe-cta">
					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Agile_Developers" id="technology_cta_3">Vote</a>
					<span class="tribe-status already_joined_voted" id="technology_cta_3_span">Voted</span>
				</div>
				<div class="tribe-indicator">
					<span class="tribe-votes"></span>
				</div>
			</li>
			<li>
				<div class="tribe-label">Web App Developers</div>
				<div id="technology_cta_votes_4" class="tribe-count">0</div>
				<div class="tribe-cta">
					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Web_App_Developers" id="technology_cta_4">Vote</a>
					<span class="tribe-status already_joined_voted" id="technology_cta_4_span">Voted</span>
				</div>
				<div class="tribe-indicator">
					<span class="tribe-votes"></span>
				</div>
			</li>
			<li>
				<div class="tribe-label">Mobile Web Developers</div>
				<div id="technology_cta_votes_5" class="tribe-count">0</div>
				<div class="tribe-cta">
					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Mobile_App_Developers" id="technology_cta_5">Vote</a>
					<span class="tribe-status already_joined_voted" id="technology_cta_5_span">Voted</span>
				</div>
				<div class="tribe-indicator">
					<span class="tribe-votes"></span>
				</div>
			</li>
			<li>
				<div class="tribe-label">Website Builders</div>
				<div id="technology_cta_votes_6" class="tribe-count">0</div>
				<div class="tribe-cta">
					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Website_Builders" id="technology_cta_6">Vote</a>
					<span class="tribe-status already_joined_voted" id="technology_cta_6_span">Voted</span>
				</div>
				<div class="tribe-indicator">
					<span class="tribe-votes"></span>
				</div>
			</li>
		</ul>
	</div>

	<div class="_col _middle">
		<ul>
			<li>
				<div class="tribe-label">Ruby Developers</div>
				<div id="technology_cta_votes_7" class="tribe-count">0</div>
				<div class="tribe-cta">
					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Ruby_Developers" id="technology_cta_7">Vote</a>
					<span class="tribe-status already_joined_voted" id="technology_cta_7_span">Voted</span>
				</div>
				<div class="tribe-indicator">
					<span class="tribe-votes"></span>
				</div>
			</li>
			<li>
				<div class="tribe-label">Python Developers</div>
				<div id="technology_cta_votes_8" class="tribe-count">0</div>
				<div class="tribe-cta">
					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Python_Developers" id="technology_cta_8">Vote</a>
					<span class="tribe-status already_joined_voted" id="technology_cta_8_span">Voted</span>
				</div>
				<div class="tribe-indicator">
					<span class="tribe-votes"></span>
				</div>
			</li>
			<li>
				<div class="tribe-label">Database Developers</div>
				<div id="technology_cta_votes_9" class="tribe-count">0</div>
				<div class="tribe-cta">
					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Database_Developers" id="technology_cta_9">Vote</a>
					<span class="tribe-status already_joined_voted" id="technology_cta_9_span">Voted</span>
				</div>
				<div class="tribe-indicator">
					<span class="tribe-votes"></span>
				</div>
			</li>
			<li>
				<div class="tribe-label">PHP Developers</div>
				<div id="technology_cta_votes_10" class="tribe-count">0</div>
				<div class="tribe-cta">
					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_PHP_Developers" id="technology_cta_10">Vote</a>
					<span class="tribe-status already_joined_voted" id="technology_cta_10_span">Voted</span>
				</div>
				<div class="tribe-indicator">
					<span class="tribe-votes"></span>
				</div>
			</li>
			<li>
				<div class="tribe-label">Wordpress Developers</div>
				<div id="technology_cta_votes_11" class="tribe-count">0</div>
				<div class="tribe-cta">
					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Wordpress_Developers" id="technology_cta_11">Vote</a>
					<span class="tribe-status already_joined_voted" id="technology_cta_11_span">Voted</span>
				</div>
				<div class="tribe-indicator">
					<span class="tribe-votes"></span>
				</div>
			</li>
			<li>
				<div class="tribe-label">Java Developers</div>
				<div id="technology_cta_votes_12" class="tribe-count">0</div>
				<div class="tribe-cta">
					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Java_Developers" id="technology_cta_12">Vote</a>
					<span class="tribe-status already_joined_voted" id="technology_cta_12_span">Voted</span>
				</div>
				<div class="tribe-indicator">
					<span class="tribe-votes"></span>
				</div>
			</li>
		</ul>
	</div>

	<div class="_col _right">
		<ul>
			<li>
				<div class="tribe-label">Magento Developers</div>
				<div id="technology_cta_votes_13" class="tribe-count">0</div>
				<div class="tribe-cta">
					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Magento_Developers" id="technology_cta_13">Vote</a>
					<span class="tribe-status already_joined_voted" id="technology_cta_13_span">Voted</span>
				</div>
				<div class="tribe-indicator">
					<span class="tribe-votes"></span>
				</div>
			</li>
			<li>
				<div class="tribe-label">ERP Developers</div>
				<div id="technology_cta_votes_14" class="tribe-count">0</div>
				<div class="tribe-cta">
					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_ERP_Developers" id="technology_cta_14">Vote</a>
					<span class="tribe-status already_joined_voted" id="technology_cta_14_span">Voted</span>
				</div>
				<div class="tribe-indicator">
				<span class="tribe-votes"></span>
				</div>
			</li>
			<li>
				<div class="tribe-label">Drupal Developers</div>
				<div id="technology_cta_votes_15" class="tribe-count">0</div>
				<div class="tribe-cta">
					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Drupal_Developers" id="technology_cta_15">Vote</a>
					<span class="tribe-status already_joined_voted" id="technology_cta_15_span">Voted</span>
				</div>
				<div class="tribe-indicator">
					<span class="tribe-votes"></span>
				</div>
			</li>
			<li>
				<div class="tribe-label">iOS Developers</div>
				<div id="technology_cta_votes_16" class="tribe-count">0</div>
				<div class="tribe-cta">
					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_IOS_Developers" id="technology_cta_16">Vote</a>
					<span class="tribe-status already_joined_voted" id="technology_cta_16_span">Voted</span>
				</div>
				<div class="tribe-indicator">
					<span class="tribe-votes"></span>
				</div>
			</li>
			<li>
				<div class="tribe-label">UX Developers</div>
				<div id="technology_cta_votes_17" class="tribe-count">0</div>
				<div class="tribe-cta">
					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_UX_Developers" id="technology_cta_17">Vote</a>
					<span class="tribe-status already_joined_voted" id="technology_cta_17_span">Voted</span>
				</div>
				<div class="tribe-indicator">
					<span class="tribe-votes"></span>
				</div>
			</li>
			<li>
				<div class="tribe-label">Webshop Developers</div>
				<div id="technology_cta_votes_18" class="tribe-count">0</div>
				<div class="tribe-cta">
					<a href="#" rel="rel_modal_content" class="tribe-button" name="TL_Webshop_Developers" id="technology_cta_18">Vote</a>
					<span class="tribe-status already_joined_voted" id="technology_cta_18_span">Voted</span>
				</div>
				<div class="tribe-indicator">
					<span class="tribe-votes"></span>
				</div>
			</li>
		</ul>
	</div>

</div>
</div>
</div>

<p class="suggestion">Don't see the tribe of your interest?<br />
	Send us your suggestion at <a href="mailto:create@tribelearn.com">create@tribelearn.com</a></p>


<script type="text/javascript">

function mr_echeck(str) {
        var at="@";
        var dot=".";
        var lat=str.indexOf(at);
        var lstr=str.length;
        var ldot=str.indexOf(dot);
        if (str.indexOf(at)==-1){
            return false;
        }
        if (str.indexOf(at)==-1 || str.indexOf(at)==0 || str.indexOf(at)==lstr){
            return false;
        }
        if (str.indexOf(dot)==-1 || str.indexOf(dot)==0 || str.indexOf(dot)==lstr){
            return false;
        }
        if (str.indexOf(at,(lat+1))!=-1){
            return false;
        }
        if (str.substring(lat-1,lat)==dot || str.substring(lat+1,lat+2)==dot){
            return false;
        }
        if (str.indexOf(dot,(lat+2))==-1){
            return false;
        }
        if (str.indexOf(" ")!=-1){
            return false;
        }
        return true;
	}


	function checkForm(myform){
	    var fail=false;
	    if (typeof _mri != 'undefined'){
	        document.getElementById('contact_id<?=$identifier;?>').value = readCookie('contact_id');
	        document.getElementById('afft_<?=$identifier;?>').value = readCookie('afft_');
	        document.getElementById('ref_<?=$identifier;?>').value = readCookie('ref_');
	        document.getElementById('own_<?=$identifier;?>').value = readCookie('own_');
	        document.getElementById('sess_<?=$identifier;?>').value = readCookie('sess_');
	    }
	    if (myform.firstname.value.length == '0'){
        myform.firstname.style.border = '1px solid red';
        fail = true;
	    }
	    if (!mr_echeck(myform.email.value)){
	        myform.email.style.border = '1px solid red';
	        fail=true;
	    }
	    if (fail){
	        alert('Please fill out all the fields in red');
	        return false;
	    }
	    return true;
	}


	function readCookie(name) {
	    var nameEQ = name + "=";
	    var ca = document.cookie.split(';');
	    for (var i=0;i<ca.length;i++){
	        var c=ca[i];
	        while(c.charAt(0)==' ') c=c.substring(1);
	        if(c.indexOf(nameEQ)==0) return c.substring(nameEQ.length);
	    }
	    return null;
	}

	function setCookie(c_name,value,exdays){
		var exdate=new Date();
		exdate.setDate(exdate.getDate() + exdays);
		var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
		document.cookie=c_name + "=" + c_value + ';path=/';
	}

	function getCookie(cname){
		var name = cname + "=";
		var ca = document.cookie.split(';');
		for(var i=0; i<ca.length; i++) {
			 var c = ca[i].trim();
			 if (c.indexOf(name)==0) return true;
		 }
		return false;
	}

	function allowcookie(vote_email,vote_firstname,tribe_join,tribe_vote){

		if(tribe_join != null){
			tribe_join_cookie.push(tribe_join);
			setCookie('TribeId_Join',tribe_join_cookie,3650);
		}
		if(tribe_vote != null){
			tribe_vote_cookie.push(tribe_vote);
			setCookie('TribeId_Vote',tribe_vote_cookie,3650);
		}

		setCookie('Tribe_Votes_Join','Tribe_Votes_Join',3650);
		setCookie('vote_email',vote_email,3650);
		setCookie('vote_firstname',vote_firstname,3650);		
	}


$(document).ready(function(){
	tribe_join_cookie = [];
	tribe_vote_cookie = [];
	if(getCookie('TribeId_Join')){
		tribe_join_cookie.push($.cookie('TribeId_Join'));
		tribe_join_cookie = tribe_join_cookie[0].split(',');
	}

	if(getCookie('TribeId_Vote')){
		tribe_vote_cookie.push($.cookie('TribeId_Vote'));
		tribe_vote_cookie = tribe_vote_cookie[0].split(',');
	}
	
	var cta_1 ="response.health_fitness_cta_";
	var cta_2 ="response.technology_cta_";
	var tb_cta_1 ="health_fitness_cta_";
	var tb_cta_2 ="technology_cta_";
	var span = "_span";


    $.ajax({
    url: 'mv-service/tribe/Summary',
    type: 'post',
    dataType : 'json',
    success: function(response) { 
      console.log(response);
      for (i=1; i<=18; i++){

      	 cta_1_votes = eval(cta_1+i);
      	 cta_2_votes = eval(cta_2+i);
    	 

      	 if(cta_1_votes < 100){

      	 	if(tribe_vote_cookie.indexOf(tb_cta_1+i) > -1 ) {
				$("#"+tb_cta_1+i).hide();
				$("#"+tb_cta_1+i+span).html('Voted');
				$("#"+tb_cta_1+i+span).show();	
				$("#"+tb_cta_1+i).parent().next(".tribe-indicator").show();
				$("#"+tb_cta_1+i).parent().next(".tribe-indicator").children(".tribe-votes").addClass("votes"+cta_1_votes);					
			}

      	 }else if(cta_1_votes >= 100){

      	 	join_1_votes = cta_1_votes;
      	 	if(join_1_votes >= 100){
      	 		join_1_votes = 100;
      	 	}

      	 	$("#"+tb_cta_1+i).html("Join");
      	 	if(tribe_join_cookie.indexOf(tb_cta_1+i) > -1 ) {
				$("#"+tb_cta_1+i).hide();
				$("#"+tb_cta_1+i+span).html('Joined');
				$("#"+tb_cta_1+i+span).show();
				$("#"+tb_cta_1+i).parent().next(".tribe-indicator").show();
				$("#"+tb_cta_1+i).parent().next(".tribe-indicator").children(".tribe-votes").addClass("votes"+join_1_votes);						
			}
      	 }

      	 if(cta_2_votes < 100){

      	 	if(tribe_vote_cookie.indexOf(tb_cta_2+i) > -1 ) {
				$("#"+tb_cta_2+i).hide();
				$("#"+tb_cta_2+i+span).html('Voted');
				$("#"+tb_cta_2+i+span).show();
				$("#"+tb_cta_2+i).parent().next(".tribe-indicator").show();
				$("#"+tb_cta_2+i).parent().next(".tribe-indicator").children(".tribe-votes").addClass("votes"+cta_2_votes);						
			}

      	 }else if(cta_2_votes >= 100){
      	 	join_2_votes = cta_2_votes;
      	 	if(join_2_votes >= 100){
      	 		join_2_votes = 100;
      	 	}

      	 	$("#"+tb_cta_2+i).html("Join");
      	 	if(tribe_join_cookie.indexOf(tb_cta_2+i) > -1 ) {
				$("#"+tb_cta_2+i).hide();
				$("#"+tb_cta_2+i+span).html('Joined');
				$("#"+tb_cta_2+i+span).show();
				$("#"+tb_cta_2+i).parent().next(".tribe-indicator").show();
				$("#"+tb_cta_2+i).parent().next(".tribe-indicator").children(".tribe-votes").addClass("votes"+join_2_votes);						
			}
      	 }

        //=========
      	 $("#new_economies_cta_14").html("Join");
      	 $("#new_economies_cta_14").attr("href", "/professional-blogging/products");

      	 $("#marketing_cta_4").attr("href", "/fbmarketing/products");

      	 $("#new_economies_cta_1").html("Join");
      	 $("#new_economies_cta_1").attr("href", "/professional-speaking/products");

      	 $("#new_economies_cta_2").attr("href", "/professional-speaking/products");
         //=========

      	 $("#health_fitness_cta_votes_"+i).html(cta_1_votes);
      	 $("#technology_cta_votes_"+i).html(cta_2_votes);

      }

      
    }


 });


	
	$(".close-arrow").click(function(){
		$(".tribe_content").hide();
		$("#tribe_olay").hide();
	});
});

	$('a.tribe-button').click(function(e){
		
		var tribe_txt = $(this).html();
		var uid= $(this).parents(".categories").children('.category_uid').val();
	    var tribe_id = $(this).attr('id');
	    var tribe_name = $(this).attr('name');
	    var tribe_tag = $(this).parents(".categories").children('.subcategory_tag').val();
	    var cta_id = $(this).parents(".categories").attr('id');
	    var redirect_tribes=["new_economies_cta_14","marketing_cta_4","new_economies_cta_1","new_economies_cta_2"];

	    //==== prevent default action unless tribe is in redirect array
        if($.inArray($(this).attr('id'),redirect_tribes)==-1) 
        {
        	e.preventDefault();
        	$("#tribe_olay").show();
			$(".tribe_content").show();
        }
		//$("#"+tribe_id).hide();

		if(tribe_txt == "Vote"){

			$("#tribe_joinform").hide();
			$("#progress_bar").hide();
			$("#join_share").hide();
			$("#tribe_signupform").show();

		}else if (tribe_txt == "Join"){

			$("#tribe_signupform").hide();
			$("#progress_bar").hide();
			$("#join_share").hide();
			$("#tribe_joinform").show();
		}

	    $("input[name='tribe_id']").val(tribe_id);
	    $("input[name='uid']").val(uid);
	    $("input[name='tribe_name']").val(tribe_name);
	    $("input#tribe_tag").attr('name',tribe_tag);
	    $("input#tribe_tag").val(tribe_name);

	    $(".sharing-url").children("#copy-button, #join-button").html("http://www.tribelearn.com/#"+cta_id);
    	$(".sharing-url").children("#clipboard_text, #join_clipboard_text").val("http://www.tribelearn.com/#"+cta_id);
    	 
    	$('#facebook-vote').data('plugin_sharrre').options.url = "http://www.tribelearn.com/#"+cta_id;
    	$('#twitter-vote').data('plugin_sharrre').options.url = "http://www.tribelearn.com/#"+cta_id;
    	$('#linkedin-vote').data('plugin_sharrre').options.url = "http://www.tribelearn.com/#"+cta_id;

    	$('#facebook-join').data('plugin_sharrre').options.url = "http://www.tribelearn.com/#"+cta_id;
    	$('#twitter-join').data('plugin_sharrre').options.url = "http://www.tribelearn.com/#"+cta_id;
    	$('#linkedin-join').data('plugin_sharrre').options.url = "http://www.tribelearn.com/#"+cta_id;

	    if(getCookie('Tribe_Votes_Join')){
	    	
	    	$(".tribe_content").hide();
	    	$("#tribe_olay").hide();
	    	var foo = $.cookie('vote_firstname');
	    	var foo2 = $.cookie('vote_email');

	    	if(tribe_txt == "Vote"){
	    		var form = document.getElementById('tribe_signupform');
	    		form_id = 'tribe_signupform';
	    	}else if (tribe_txt == "Join"){
	    		var form = document.getElementById('tribe_joinform');
	    		form_id = 'tribe_joinform';
	    	}

	    	$("#"+form_id).find("input[name='firstname']").val(foo);
	    	$("#"+form_id).find("input[name='email']").val(foo2);
	    	
	   
			formhandler(form,tribe_txt);
		}
	});

	

	function submit_votes(form,tribe_txt){
			//console.log(tribe_txt);
			var cur_item = $("input[name='tribe_id']").val();
			var cur_tribe = $("#"+cur_item).parent().siblings(".tribe-label").html();
			//console.log($("#"+cur_item).parent().prev(".tribe-label"));
			//var cur_tribe = $("input[name='tribe_name']").val();
			//$('#'+cur_item).hide();
			//console.log(cur_item);
			cur_vote = cur_item.replace("cta_","cta_votes_");
			var count_votes = $('#'+cur_vote).html();
			if(count_votes == ""){
				count_votes = 0 ;
			}else{
				count_votes = parseInt(count_votes);
			}
			count_votes = count_votes+1;
			$('.close-arrow').click();
			$("#pg_layers").show();
			 //var data= $(form).serialize();
			 //console.log(data);
			$.ajax({
			    url: 'mv-service/tribe/Submit',
			    type: 'post',
			    data: $(form).serialize(),
			    success: function(data) { 

			      $('#'+cur_vote).html(count_votes);
			      $('#'+cur_vote).show();
			      $("#"+cur_item).hide();
			      $("#pg_layers").hide();
			      $("#tribe_olay").show();
				  $(".tribe_content").show();
				  if(tribe_txt == "Vote"){
				  	var reamin_vote = 100 - count_votes;
				  	$("#tribe_joinform").hide();
				  	$("#join_share").hide();
				  	$("#tribe_signupform").hide();
				  	$(".progress-section").find(".progress-bar--indicator").removeClass().addClass("progress-bar--indicator votes"+count_votes);
				  	test_data = $(".progress-section").find(".tribe-count").html();
				  	$(".progress-section").find(".progress-bar--votenumber").html(test_data+count_votes+" votes");
				  	$("#progress_bar").find(".txtblue").html(cur_tribe);
				  	$("#progress_bar").find(".txtlightblue").html(reamin_vote+" more votes to unlock");
				  	$("#progress_bar").show();
				  	if(count_votes == 100){
					  	$("#"+cur_item).next(".already_joined_voted").html('Joined');
					 }else if(count_votes < 100){
					 	$("#"+cur_item).next(".already_joined_voted").html('Voted');
					 }
					$("#"+cur_item).next(".already_joined_voted").show();
					$("#"+cur_item).parent().next(".tribe-indicator").show();
					$("#"+cur_item).parent().next(".tribe-indicator").children(".tribe-votes").addClass("votes"+count_votes);
				  }else if(tribe_txt == "Join"){
				  	join_num = count_votes;
				  	$("#tribe_signupform").hide();
				  	$("#progress_bar").hide();
				  	$("#tribe_joinform").hide();
				  	$("#join_share").show();
				  	$("#"+cur_item).next(".already_joined_voted").html('Joined');
					$("#"+cur_item).next(".already_joined_voted").show();
					$("#"+cur_item).parent().next(".tribe-indicator").show();
					if(join_num>100){
						join_num = 100;
					}
					$("#"+cur_item).parent().next(".tribe-indicator").children(".tribe-votes").addClass("votes"+join_num);
				  }
				  
			      	

			  	},
			     error: function(a,b,c){
			     	console.log(b,c);
			     },
			});
	}


	function formhandler(form,tribe_txt){
		var form_id = $(form).attr('id');
		var tribe_join = $("#"+form_id).find("input[name='tribe_id']").val();
	    var tribe_vote = $("#"+form_id).find("input[name='tribe_id']").val();

		if(!getCookie('Tribe_Votes_Join')){
			var vote_email = $("#"+form_id).find("input[name='email']").val();
			var vote_firstname = $("#"+form_id).find("input[name='firstname']").val();
			
			if(checkForm(form)){
				submit_votes(form,tribe_txt);
				if(form_id == "tribe_signupform"){
					allowcookie(vote_email,vote_firstname,null,tribe_vote);
				}else if (form_id == "tribe_joinform"){
					allowcookie(vote_email,vote_firstname,tribe_join,null);
				}
				
			}
		}else{
			//consolo.log('hoho');
			var foo = $.cookie('vote_firstname');
	    	var foo2 = $.cookie('vote_email');

			submit_votes(form,tribe_txt);
			if(form_id == "tribe_signupform"){
					allowcookie(foo2,foo,null,tribe_vote);
				}else if (form_id == "tribe_joinform"){
					allowcookie(foo2,foo,tribe_join,null);
				}
		}

	}

</script>
<script type="text/javascript" src="<?php echo Wrapper::mediaPath('/js/zeroclipboard.min.js', true)?>"></script>
<script type="text/javascript">
ZeroClipboard.config( { swfPath: '<?php echo Wrapper::mediaPath('/swf/zeroclipboard.swf', true)?>' } );
var client = new ZeroClipboard( document.getElementById("copy-button") );
var client2 = new ZeroClipboard( document.getElementById("join-button") );
client.on( "ready", function( readyEvent ) {

  client.on( "aftercopy", function( event ) {
    alert("Copied to clipboard");
  } );
} );
client2.on( "ready", function( readyEvent ) {

  client2.on( "aftercopy", function( event ) {
    alert("Copied to clipboard");
  } );
} );

</script>
